<%- include('./partials/header.ejs') %>
<body>
    <h1><%- category %></h1>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <ul class="product-list" style="list-style-type: none; padding: 0;">
            <% products.forEach(function(product) { %>
                <li class="card">
                    <div>
                        <p class="card-title"><%= product.name %> - <%- product.strength %>%</p>
                        <p class="card-info">Some more details about the product can go here.</p>
                    </div>
                    <div>
                        <p class="card-price"><%= product.price %></p>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
